/* fira-sans-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../../static/fira-sans-condensed-v10-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../../static/fira-sans-condensed-v10-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-condensed-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("../../static/fira-sans-condensed-v10-latin-600italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@mixin FiraItalBd {
  font-family: var(--ff-sans-cond);
  font-weight: 600;
  font-style: italic;
}

@mixin FiraHero {
  text-transform: uppercase;
  color: var(--col-white);
  font-size: 13vw;
  font-weight: 400;
}

@mixin FiraLogo {
  font-family: var(--ff-sans-cond);
  font-style: italic;
  color: var(--col-midgray);
}

$mainfont: var(--ff-sans-cond);
