.tns-controls {
  text-align: center;
}

.boxWrapper {
  a {
    text-decoration: none;
  }

  .projectsBox {
    display: flex;
    flex-flow: column;
    transition: 0.2s ease-in-out;
    border-radius: 0.5rem;
    background-image: linear-gradient(45deg, var(--col-blue), var(--col-green));
    padding: 10px;
    min-height: 187px;
    color: var(--col-darkgray);

    &:hover {
      background-image: linear-gradient(
        90deg,
        var(--col-blue),
        var(--col-green)
      );
    }

    h4,
    p {
      margin: 0.5em 1rem 0;
      color: var(--col-white);
    }

    p {
      text-align: left;
    }

    .projectTime {
      margin-top: auto;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
      color: var(--col-white);

      p,
      time {
        font-size: 1rem;
      }
    }
  }
}
