/* fira-sans-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../../static/fira-sans-condensed-v10-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("../../static/fira-sans-condensed-v10-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-sans-condensed-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("../../static/fira-sans-condensed-v10-latin-600italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --rw: 245;
  --gw: 245;
  --bw: 245;
  --col-white: rgb(var(--rw), var(--gw), var(--bw));
  --col-white-rgb: var(--rw), var(--gw), var(--bw);

  --col-lightgray: #d3d1d1;
  --col-gray: #777;
  --col-midgray: #555;
  --col-darkgray: #333;

  --col-link-active: var(--col-darkgray);

  --col-blue: #23a6d5;
  --col-light-blue: lighten(var(--col-blue), 35%);
  --col-magenta: #e73c7e;
  --col-green: #23d5ab;
  --col-orange: #ee7752;

  --ff-sans-cond: "Fira Sans Condensed";
  --fs-base: 1.3rem;
  --fs-small-text: 1.2rem;

  --lh-base: 2rem;
  --lh-small-text: 1.7rem;

  --br-normal: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--col-white);
  color: var(--col-darkgray);
  font-family: var(--ff-sans-cond), sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-sans-cond);
  font-weight: 600;
  font-style: italic;
}

h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 2.2rem;
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

p,
date,
li,
button {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

button {
  cursor: pointer;
}

ol,
ul {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    margin-top: 3rem;
    max-width: 60rem;
  }
}

@media screen and (max-width: 576px) {
  .content {
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media screen and (min-width: 577px) {
  .content {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    padding-right: 25%;
    padding-left: 25%;
  }
}

/* Dialog/Modal */
dialog {
  max-width: 40rem;
  border: none;
  padding: 2em;
  overflow-y: scroll;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

dialog > div:first-child {
  text-align: right;
  position: sticky;
  top: 0;
  right: 0;
}

dialog button {
  background: none;
  border: none;
}

dialog button svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 768px) {
  dialog {
    margin: 1em;
  }
}
