@import "./fonts.module.scss";

.logowrapper {
  display: flex;
  padding-left: 2.5rem;
  margin-block: 0.5rem;

  &Mobile {
    display: none;
    margin-top: 0.5rem;
    margin-inline: auto;
  }
}

@media screen and (max-width: 767px) {
  .logowrapper {
    display: none;
    margin-left: 0.5rem;

    &Mobile {
      display: flex;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2em;
  text-decoration: none;

  p {
    @include FiraLogo;
    font-size: 2em;
    margin: 0;
    z-index: 2;
  }
}

.circle1 {
  position: absolute;
  transform: rotate(90deg);
  z-index: 0;
  border-right: 7px solid rgba(26, 171, 238, 0.7);
  border-left: 7px solid rgba(218, 58, 218, 0.7);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  animation: spin1 5s infinite linear;
  filter: blur(1px);
}

.circle2 {
  position: absolute;
  z-index: 1;
  border-right: 7px solid rgba(26, 238, 157, 0.4);
  border-left: 7px solid rgba(218, 58, 218, 0.4);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  animation: spin2 2s infinite linear;
  filter: blur(1px);
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.author {
  @include FiraItalBd;
  font-size: 1.5em;
}

.navListWrapper {
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.08);
  background-color: rgba(var(--col-white-rgb), 0.6);
  width: 100%;
  backdrop-filter: blur(8px);
  gap: 2.5rem;
}

.navList {
  display: flex;
  font-size: 1.3em;
  gap: 1.5rem;

  &:last-of-type {
    margin-left: auto;
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .navListWrapper {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-block: 1rem;
  }

  .navList {
    gap: 1rem;

    &:last-of-type {
      margin-right: auto;
      padding-right: unset;
    }
  }
}

.navLink {
  transition: border-bottom 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: var(--col-gray);

  &:hover {
    border-bottom: 2px solid var(--col-blue);
    padding-bottom: 0.5rem;
    color: var(--col-midgray);
  }
}

.activeNavLink {
  border-bottom: 2px solid var(--col-blue);
  padding-bottom: 0.5rem;
  color: var(--col-link-active);
}

.socialmediaLink {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.socialmediaLogo {
  height: 1.5rem;
}
