.herocontainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    -45deg,
    var(--col-orange),
    var(--col-magenta),
    var(--col-blue),
    var(--col-green)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 16rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 640px) {
  .herocontainer {
    height: 23rem;
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .herocontainer {
    height: 25rem;
  }
}
@media screen and (min-width: 1024px) {
  .herocontainer {
    height: 29rem;
  }
}
@media screen and (min-width: 1280px) {
  .herocontainer {
    height: 33rem;
  }
}

.overflowcontainer {
  overflow: hidden;
}

.overflowcontainer p {
  text-transform: uppercase;
  color: var(--col-white);
  font-weight: 400;
  margin: 0.5rem 0 0 0;
  animation: TextFlowIn 1s;
  line-height: 1.2;
}

@keyframes TextFlowIn {
  0% {
    transform: translateY(3em) rotate(18deg);
  }
  50% {
    transform: translateY(3em) rotate(18deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@media screen and (max-width: 639px) {
  .overflowcontainer:first-of-type p {
    font-size: 3.5rem;
    text-align: center;
  }
  .overflowcontainer:last-of-type p {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media screen and (min-width: 640px) {
  .overflowcontainer:first-of-type p {
    font-size: 5rem;
  }
  .overflowcontainer:last-of-type p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .overflowcontainer:first-of-type p {
    font-size: 6rem;
  }
  .overflowcontainer:last-of-type p {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1024px) {
  .overflowcontainer:first-of-type p {
    font-size: 7rem;
  }
  .overflowcontainer:last-of-type p {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 1280px) {
  .overflowcontainer:first-of-type p {
    font-size: 10rem;
  }
  .overflowcontainer:last-of-type p {
    font-size: 3.2rem;
  }
}
@media screen and (min-width: 1536px) {
  .overflowcontainer:first-of-type p {
    font-size: 12rem;
  }
  .overflowcontainer:last-of-type p {
    font-size: 3.8rem;
  }
}

.imgWrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 20rem;
  aspect-ratio: 1;
}

.imgWrapper img {
  height: 100%;
}

@media screen and (max-width: 639px) {
  .imgWrapper {
    margin-top: -7.5rem;
    margin-inline: auto;
  }
}
@media screen and (min-width: 640px) {
  .imgWrapper {
    margin-top: -16rem;
    margin-inline: auto 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .imgWrapper {
    margin-top: -20rem;
    width: 27rem;
  }
}
@media screen and (min-width: 1280px) {
  .imgWrapper {
    margin-top: -22rem;
  }
}
@media screen and (min-width: 1536px) {
  .imgWrapper {
    width: 29rem;
  }
}
@media screen and (min-width: 1920px) {
  .imgWrapper {
    margin-top: -27rem;
    width: 33rem;
  }
}
