.herocontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(
    -45deg,
    var(--col-orange),
    var(--col-magenta),
    var(--col-blue),
    var(--col-green)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.heroSmallHeading {
  color: var(--col-white);
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;

  @media screen and (max-width: 767px) {
    margin-block: 1.5rem;
    font-size: 2rem;
  }
  @media screen and (min-width: 768px) {
    margin-block: 3rem;
    font-size: 3rem;
  }
}
