.herocontainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding-top: 1rem;
  height: 16rem;
  animation: gradient 10s ease infinite;
  background: linear-gradient(
    -45deg,
    var(--col-orange),
    var(--col-magenta),
    var(--col-blue),
    var(--col-green)
  );
  background-size: 400% 400%;
  font-weight: var(--fw-normal);
  font-style: normal;

  @media (width > 640px) {
    height: 23rem;
    padding-left: 1.5rem;
  }
  @media (width > 768px) {
    height: 25rem;
  }
  @media (width > 1024px) {
    height: 29rem;
  }
  @media (width > 1280px) {
    height: 33rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.overflowcontainer {
  overflow: hidden;
  margin: 0;
  text-align: center;

  @media (width > 640px) {
    text-align: left;
  }

  span {
    transform: translateY(100%);
    margin: 0;
    line-height: 1;
    color: var(--col-white);
    padding-inline: 0.5rem;

    @media (width > 640px) {
      font-size: 4rem;
      text-align: left;
    }
  }

  &:first-of-type span {
    animation: TextFlowIn 0.5s forwards;
    font-size: 3.5rem;
    text-transform: uppercase;

    @media (width > 640px) {
      font-size: 4rem;
    }
    @media (width > 768px) {
      font-size: 5rem;
    }
    @media (width > 1024px) {
      font-size: 6rem;
    }
    @media (width > 1024px) {
      font-size: 6rem;
    }
    @media (width > 1280px) {
      font-size: 7rem;
    }
    @media (width > 1536px) {
      font-size: 12rem;
    }
  }

  &:last-of-type span {
    animation: TextFlowIn 0.5s 0.5s forwards;
    font-size: 1.5rem;
    line-height: var(--lh-sm);

    @media (width > 640px) {
      font-size: 1.5rem;
    }
    @media (width > 768px) {
      font-size: 1.8rem;
    }
    @media (width > 1024px) {
      font-size: 2.3rem;
    }
    @media (width > 1280px) {
      font-size: 3.2rem;
    }
    @media (width > 1280px) {
      font-size: 3.8rem;
    }
  }
}

@keyframes TextFlowIn {
  100% {
    transform: translateY(0);
  }
}

.imgWrapper {
  margin-top: -2rem;
  margin-inline: auto;
  border-radius: 50%;
  width: 90vw;
  overflow: hidden;
  aspect-ratio: 1;

  @media (width > 320px) {
    width: 20rem;
  }
  @media (width > 480px) {
    margin-top: -7.5rem;
  }
  @media (width > 640px) {
    margin-top: -15rem;
    margin-inline: auto 6%;
  }
  @media (width > 1024px) {
    margin-top: -18rem;
    width: 27rem;
  }
  @media (width > 1280px) {
    margin-top: -18rem;
  }
  @media (width > 1536px) {
    margin-top: -12rem;
    width: 29rem;
  }
  @media (width > 1920px) {
    margin-top: -14rem;
    width: 33rem;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }
}
