.herocontainer {
  display: flex;
  flex-direction: column;
  background-image: url("../images/Sascha_im_Buero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 0.5rem;
  height: 16rem;
}

@media screen and (min-width: 640px) {
  .herocontainer {
    height: 23rem;
  }
}
@media screen and (min-width: 768px) {
  .herocontainer {
    height: 31rem;
  }
}
@media screen and (min-width: 1024px) {
  .herocontainer {
    height: 36rem;
  }
}
@media screen and (min-width: 1280px) {
  .herocontainer {
    height: 36rem;
  }
}
@media screen and (min-width: 1536px) {
  .herocontainer {
    height: 42rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.overflowcontainer {
  margin-bottom: -4em;
  overflow: hidden;
}

.overflowcontainer p {
  text-transform: uppercase;
  color: var(--col-white);
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
  animation: TextFlowIn 1s;
  line-height: 1.2;
}

@media screen and (min-width: 640px) {
  .overflowcontainer p {
    font-size: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .overflowcontainer p {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1024px) {
  .overflowcontainer p {
    font-size: 7rem;
  }
}
@media screen and (min-width: 1280px) {
  .overflowcontainer p {
    font-size: 8rem;
  }
}
@media screen and (min-width: 1536px) {
  .overflowcontainer p {
    font-size: 9rem;
  }
}

@keyframes TextFlowIn {
  0% {
    transform: translateY(3em) rotate(18deg);
  }
  50% {
    transform: translateY(3em) rotate(18deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@media screen and (max-width: 767px) {
  .overflowcontainer {
    margin-bottom: -0.2rem;
  }
}

@media (min-width: 768px) {
  .herocontainer div:last-child {
    margin-top: 2rem;
    margin-bottom: 0;
  }
}
