.portfolioImageWrapper {
  margin-block: 3rem;
  text-align: center;
}

.portfolioImage {
  width: 100%;
  border-radius: var(--br-normal);
}

.openModalBtn {
  background: none;
  border: none;
  padding: 0;
  color: var(--col-gray);
  text-decoration: underline;
}
