.introtext {
  font-size: var(--fs-md);
  text-align: center;
}

.openModalBtn {
  text-decoration: underline;
  margin-left: 0.5rem;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

.ctaBtn {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 5rem;
  background-color: var(--col-green);
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--col-darkgray);
  font-size: var(--fs-base);
  text-align: center;
}
