@import "./variables.scss";
@import "./fonts.module.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--col-white);
  color: var(--col-darkgray);
  font-family: $mainfont, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  @include FiraItalBd;
}

h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 2.2rem;
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

p,
date,
li {
  font-size: var(--fs-base);
  line-height: var(--lh-base);
}

ol,
ul {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    margin-top: 3rem;
    max-width: 60rem;
  }
}

@media screen and (max-width: 576px) {
  .content {
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media screen and (min-width: 577px) {
  .content {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    padding-right: 25%;
    padding-left: 25%;
  }
}
