.projects {
  &:first-of-type {
    margin-top: 3rem;

    @media (width > 320px) {
      margin-top: 5rem;
    }
  }

  & a {
    text-decoration: none;
    color: var(--col-darkgray);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
  }

  & a:hover {
    opacity: 1;
  }

  h2 {
    margin-block: 1rem;
  }

  h4 {
    margin-bottom: 0.5rem;

    & + p {
      margin-top: 0;
    }
  }

  p:has(picture) {
    margin-bottom: 1.2rem;

    & + p {
      margin-top: 0;
    }
  }
}

.points {
  margin-block: 3rem;
  text-align: center;

  @media (width > 576px) {
    margin-block: 6rem;
  }
}
