.projects {
  margin-top: 5rem;

  & h5 {
    color: var(--col-gray);
    max-width: 75%;
    border-left: 2px solid var(--col-gray);
    padding-left: 1.2rem;
  }

  & a {
    text-decoration: none;
    color: var(--col-gray);
    font-size: var(--fs-small-text);
    font-weight: 600;
  }

  & a:hover {
    opacity: 1;
  }
}

.points {
  margin-top: 5rem;
  text-align: center;
}
