.sidemenu {
  --fs-base: 1rem;
  --lh-base: 1.3rem;

  display: none;
  position: fixed;
  bottom: 50vh;
  left: 0;
  border-radius: 0 0.3rem 0.3rem 0;
  background-color: rgba(var(--col-white-rgb), 0.5);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  max-width: 11rem;
  translate: 0 50%;
}

@media screen and (min-width: 1200px) {
  .sidemenu {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
}

.menuLink {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--col-gray);
}

.menuLink:hover {
  color: var(--col-magenta);
}
