.sidemenu {
  display: none;
  position: fixed;
  bottom: calc(50vh - (var(--sidemenu-height) / 2));
  left: 0;
  padding-left: 0;
  max-width: 11rem;
  --fs-base: 1rem;
  --lh-base: 1.3rem;
  --sidemenu-height: 546px;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.sidemenuHeader {
  background-color: rgba(var(--col-white-rgb), 0.5);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.menuitem {
  background-color: rgba(var(--col-white-rgb), 0.5);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.menulink {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--col-gray);

  &:hover {
    color: var(--col-midgray);
  }
}
