.sidemenu {
  display: none;
  position: fixed;
  bottom: calc(50vh - (var(--sidemenu-height) / 2));
  left: 0;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: rgba(var(--col-white-rgb), 0.5);
  border-radius: 0 0.3rem 0.3rem 0;
  max-width: 11rem;
  --fs-base: 1rem;
  --lh-base: 1.3rem;
  --sidemenu-height: 482px;
}

@media screen and (min-width: 1200px) {
  .sidemenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.menuLink {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: var(--col-gray);
}

.menuLink:hover {
  color: var(--col-midgray);
}
