.wrapper {
  margin-top: 2rem;
}

.logosMain {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-items: center;
  margin-top: 1rem;
  border-radius: var(--br-normal);
  background-image: linear-gradient(45deg, var(--col-blue), var(--col-green));
  padding: 1rem;
  gap: 1.5rem;

  @media (width > 577px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (width > 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (width > 1024px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  & svg {
    max-width: 11rem;
    height: 4rem;
    color: white;
  }
}

.headline {
  grid-column: 1/-1;
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--col-white);
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--col-white);
}

.skill {
  display: grid;
  justify-items: center;
}

.rating {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-align: center;
  color: var(--col-white);
}

.legend {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  text-align: right;
  color: var(--col-midgray);
}
