.timeLinePoint {
  display: flex;
  flex-flow: column;
  transition: 1s linear;
  margin: 0 auto;
  max-width: 30em;
  text-align: center;
}
.timeLinePoint img {
  margin-bottom: 1em;
  border-radius: 50%;
}

.timeLinePoint p {
  text-align: center;
}

.headline {
  text-align: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.5);
  transition: 1s ease-in;
  opacity: 0.5;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--col-green);
  width: 6em;
  height: 6em;
  color: white;
  font-weight: 700;
}

.scale {
  transform: scale(1);
  opacity: 1;
}

.linie {
  margin: 0 auto 1em;
  background-color: var(--col-lightgray);
  width: 1px;
  height: 2em;
}
