// Version: 2.9.4
// Ab Dart-Sass ist Division mit / deprecated
// Dann z.B. "Math.div(ag-param(grid-size), 2)" nehmen

.tns-outer {
  .tns-controls {
    text-align: center;

    button {
      margin: 2rem 0.7rem 0;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-size: 1.5rem;
      border: none;
      border-radius: 50%;
      background-color: var(--col-blue);
      width: 3rem;
      height: 3rem;
      color: white;
      transition: 0.2s ease-in-out;
      background-image: linear-gradient(
        45deg,
        var(--col-blue),
        var(--col-magenta)
      );
      background-size: 400% 400%;
      background-position: 0% 50%;

      &:hover {
        outline: var(--col-light-blue) solid 5px;
        animation: gradient 2s ease;

        @keyframes gradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }
    }
  }
}
