.typewriter {
  margin-block: 1rem 0.5rem;
  font-family: var(--ff-sans);
  font-weight: var(--fw-bold);
  font-style: italic;
  line-height: 1.2;
  font-size: 2.2rem;

  @media (width > 576px) {
    line-height: 1.2;
    font-size: 3rem;
  }
  @media (width > 768px) {
    margin-top: 2rem;
    font-size: 4rem;
  }

  &::after {
    display: inline-block;
    transform: translateY(0.125rem);
    margin-left: 0.8rem;
    background-color: gray;
    width: 0.2rem;
    height: 2.2rem;
    animation: blink 1s steps(2, start) infinite;
    content: "";

    @media (width > 576px) {
      height: 2.5rem;
    }
    @media (width > 768px) {
      height: 3.5rem;
    }
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

.firstQuote {
  color: var(--col-magenta);
}
