:root {
  --rw: 245;
  --gw: 245;
  --bw: 245;
  --col-white: rgb(var(--rw), var(--gw), var(--bw));
  --col-white-rgb: var(--rw), var(--gw), var(--bw);

  --col-lightgray: #d3d1d1;
  --col-gray: #777;
  --col-midgray: #555;
  --col-darkgray: #333;

  --col-link-active: var(--col-darkgray);

  --col-blue: #23a6d5;
  --col-light-blue: lighten(var(--col-blue), 35%);
  --col-magenta: #e73c7e;
  --col-green: #23d5ab;
  --col-orange: #ee7752;

  --ff-sans-cond: "Fira Sans Condensed";
  --fs-base: 1.3rem;
  --fs-small-text: 1.2rem;

  --lh-base: 2rem;
  --lh-small-text: 1.7rem;

  --br-normal: 0.5rem;
}
