@import "./variables.scss";

h2 {
  margin-top: 5rem;
}

.projectsWrapper {
  display: grid;
  gap: 2.5em 1em;

  a {
    text-decoration: none;
  }

  .projectsBox {
    display: flex;
    flex-flow: column;
    background-color: #a0e6ff;
    padding: 10px;
    color: $coldarkgray;
    height: 100%;
    transition: 0.2s ease-in-out;
    border-radius: 1em;

    h4,
    p {
      margin: 0.5em 1rem 0;
    }

    .projectTime {
      margin-top: auto;
      margin-left: 1rem;
      margin-bottom: 0.5rem;

      p,
      time {
        font-size: 1rem;
      }
    }
  }

  @for $i from 1 through 8 {
    a:nth-child(#{$i}) .projectsBox:hover {
      background-color: $col-blue;
      color: white;
      box-shadow: 5px 5px 30px $col-blue;
      transform: scale(1.07) rotate(-#{random(15)}deg);
    }
  }
}

@media screen and (max-width: 576px) {
  .projectsWrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 577px) {
  .projectsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .projectsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
