main {
  & > h2 {
    margin-top: 2rem;
  }
}

.techStackWrapper {
  display: flex;
  flex-flow: column;

  .logoWrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 1.5rem;

    img {
      height: 4rem;
      max-width: 11rem;

      &[alt="Npm-Logo"] {
        max-width: 4.375rem;
      }
      &[alt="TYPO3-Logo"] {
        max-width: 9rem;
      }
    }
  }
}
