@import "./variables.scss";

body {
  font-family: $mainfont, sans-serif;
  color: $coldarkgray;
  margin: 0;

  h1,
  h2 {
    @include FiraItalBd;
    margin-bottom: 2rem;
    text-align: center;
  }

  p,
  h4,
  date {
    font-size: 1.3em;
  }

  p {
    line-height: 1.4em;
    text-align: justify;
  }

  li {
    list-style-type: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    margin: 3rem auto 0;
    flex-grow: 1;
    max-width: 50em;

    h3 {
      @include FiraItalBd;
      font-size: 1.7em;
      text-align: center;
    }

    ol {
      padding: 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .content {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (min-width: 577px) {
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
