@import "./variables.scss";
@import "./fonts.module.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $mainfont, sans-serif;
  color: var(--col-darkgray);
  margin: 0;

  h1,
  h2 {
    @include FiraItalBd;
    margin-bottom: 2rem;
    text-align: center;
  }

  p,
  h4,
  date {
    font-size: 1.3em;
  }

  p {
    line-height: 1.4em;
    text-align: justify;
  }

  li {
    list-style-type: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    margin-top: 3rem;

    h3 {
      @include FiraItalBd;
      font-size: 1.7em;
      text-align: center;
    }

    ol {
      padding: 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .content {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media screen and (min-width: 577px) {
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    padding-left: 25%;
    padding-right: 25%;
  }
}
