.socialBtn {
  border: 1px solid rgba(153, 153, 153, 1);
  border-radius: 3em;
  text-align: center;
  text-decoration: none;
  color: var(--col-darkgray);
  transition: 0.1s ease-in-out;

  &:hover {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    color: #fff;
    border: 1px solid #fff;
    background-size: 400% 400%;
    animation: gradient 2s ease;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  p {
    text-align: center;
  }
}
