.totopbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 1.5rem;
  right: 0.9rem;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  cursor: pointer;
  color: var(--col-white);
  border: none;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  background-image: linear-gradient(45deg, var(--col-blue), var(--col-magenta));
  background-size: 400% 400%;
  background-position: 0% 50%;

  &:hover {
    animation: gradient 2s ease;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  .icon {
    width: 1.5rem;
    height: 1rem;
    background-image: url("../images/arrow_up.svg");
    background-repeat: no-repeat;
  }
}

.buttonHidden {
  opacity: 0;
  border-radius: 50%;
  background-position: center 35%;
}
