:root {
  --col-white: #fff;
  --col-lightgray: #d3d1d1;
  --col-darkgray: #333;
  --col-link: #666;
  --col-midgray: #444;
  --col-link-active: var(--col-darkgray);

  --col-blue: #23a6d5;
  --col-light-blue: lighten(var(--col-blue), 35%);
  --col-magenta: #e73c7e;
  --col-green: #23d5ab;

  --ff-sans-cond: "Fira Sans Condensed";
  --fw-600: 600;
  --fw-400: 400;
}
