$light-grayBG: rgb(211, 209, 209);

.timeLinePoint {
    display: flex;
    flex-flow: column;
    max-width: 30em;
    text-align: center;
    margin: 0 auto
}

.circleImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 6em;
    border: 2px solid $light-grayBG;
    border-radius: 50%;
    margin: 0 auto
}

.linie {
    background-color: $light-grayBG;
    width: 1px;
    height: 2em;
    margin: 0 auto 1em 
}