@import './variables.scss';

footer {
    margin: 3em 1em 0
}

.footerNavList {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.footerNavLink {
    color: $col-link;
    text-decoration: none;
    margin-right: 1.3rem;

    &:hover {
        color: $col-link-hover;
    }
}

.activeFooterNavLink {
    color: $col-link-active;
}