@mixin FiraLogo {
    font-family: "Fira Sans SemiBdItal";
    color: #464646;
}

.header {
    padding: 1em 0 1em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(8px);
    background-color: rgba(255,255,255,.6);
    box-shadow: 0px 10px 10px rgba(0,0,0,.08);
    z-index: 9999;

    @media ( max-width:600px ) {
        flex-direction: column;
        align-items: center;
        padding: 1em 0 0em;
    }

    .logowrapper {
        display: flex;
        margin-left: 2.5em;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2em;
            text-decoration: none;

            .circle1 {
                width: 4em;
                height: 4em;
                border-radius: 50%;
                border-left: 7px solid rgba(218, 58, 218, .7);
                border-right: 7px solid rgba(26, 171, 238, .7);
                transform: rotate(90deg);
                filter: blur(1px);
                z-index: 0;
                position: absolute;
                animation: spin1 5s infinite linear;
            }

            .circle2 {
                width: 4em;
                height: 4em;
                border-radius: 50%;
                border-left: 7px solid rgba(218, 58, 218, 0.4);
                border-right: 7px solid rgba(26, 238, 157, 0.4);
                filter: blur(1px);
                z-index: 1;
                position: absolute;
                animation: spin2 2s infinite linear;
            }

            @keyframes spin1 {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(360deg);}
            }

            @keyframes spin2 {
                0% {transform: rotate(0deg);}
                100% {transform: rotate(360deg);}
            }

            p {
                @include FiraLogo;
                font-size: 2em;
                margin: 0;
                z-index: 2;
            }
        }
    }

    .navList {
        display: flex;
        padding: 0;
        font-size: 1.3em;
    }
    
    .navLink {
        color: #888;
        text-decoration: none;
        margin-right: 1.3rem;
    
        &:hover {
            color: #555;
        }
    }
    
    .activeNavLink {
        color: #444;
        border-bottom: 1px solid #444;
        padding-bottom: 0.5em;
    }

}