@import "./variables.scss";

.herocontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  margin-top: 6.2em;
  padding-left: 1.5rem;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .overflowcontainer {
    overflow: hidden;
    margin-bottom: -4em;
  }

  p {
    @include FiraHero;
    margin: 0;
    animation: TextFlowIn 1s;
    line-height: 1.2;

    @keyframes TextFlowIn {
      0% {
        transform: translateY(2em) rotate(18deg);
      }
      50% {
        transform: translateY(2em) rotate(18deg);
      }
      100% {
        transform: translateY(0) rotate(0deg);
      }
    }
  }
}

@import "./mediaquerys.scss";
