@mixin FiraHero {
    font-weight: 600;
    color: #fff;
    font-size: 15vw;
    text-transform: uppercase;
}

.herocontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 65vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    margin-top: 5.7em;
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    div {
        overflow: hidden;
        margin-bottom: -4em;

        @media ( max-width:600px ) {
            margin-bottom: -1em;
        }

        &:last-child {
            margin-bottom: -1em;

            @media ( max-width:600px ) {
                margin-bottom: 0em;
            }
        }
        
    }

    p {
        @include FiraHero;
        margin: 0;
        animation: TextFlowIn 1s;

        @keyframes TextFlowIn {
            0% {
                transform: translateY(2em) rotate(18deg);
            }
            50% {
                transform: translateY(2em) rotate(18deg);
            }
            100% {
                transform: translateY(0) rotate(0deg);
            }
        }
    }

    @media ( max-width:600px ) {
        height: 30vh;
    }
}
  