.techStackWrapper {
  display: flex;
  flex-flow: column;
  margin-top: 2em;

  .logoWrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    gap: 1rem;

    img {
      height: 4rem;
    }
  }
}

@import "./mediaquerys.scss";
