@import "./variables.scss";

body {
  font-family: $mainfont;
  color: $coldarkgray;
  margin: 0;

  h1,
  h2 {
    @include FiraItalBd;
    margin-bottom: 2rem;
  }

  p,
  h4,
  date {
    font-size: 1.3em;
  }

  p {
    line-height: 1.4em;
  }

  li {
    list-style-type: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    margin: 3em auto 0;
    flex-grow: 1;
    max-width: 50em;

    h3 {
      font-size: 1.7em;
    }

    ol {
      padding: 0;
    }
  }
}

@import "./mediaquerys.scss";
