@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;

    .logowrapper {
      margin-left: 0.5em;
    }
  }

  .herocontainer {
    margin-top: 9.3em;
    padding-left: 0.5rem;

    .overflowcontainer {
      margin-bottom: -0.2em;
    }
  }

  .content {
    margin: 2em auto 0 !important;
    padding-left: 1em;
    padding-right: 1em;
  }

  .projectsWrapper {
    grid-template-columns: 1fr;
  }

  .techStackWrapper {
    max-height: 3.5em;
  }
}

@media (min-width: 768px) {
  .herocontainer {
    div {
      &:last-child {
        margin-bottom: 0;
        margin-top: 2rem;
      }
    }
  }

  .content {
    padding-left: 1em;
    padding-right: 1em;
  }
}
