.projects {
  margin-top: 5rem;

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.7em;
    font-weight: bold;
    background-color: #5d5d5d;
    border-radius: 0.5em;
    padding: 0.3em 0.7em;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
