@import "./variables.scss";

.totopbutton {
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 1.5rem;
  right: 0.9rem;
  background-color: $col-blue;
  font-size: 3rem;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  opacity: 1;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  background: {
    image: url("../images/arrow_up.svg");
    size: 2rem;
    repeat: no-repeat;
    position: center 35%;
  }
}

.buttonHidden {
  opacity: 0;
  border-radius: 50%;
  transform: rotate(90deg);
}

@import "./mediaquerys.scss";
