/* fira-sans-condensed-300 - latin */
@font-face {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../../static/fira-sans-condensed-v5-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fira-sans-condensed-v5-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-condensed-regular - latin */
@font-face {
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../../static/fira-sans-condensed-v5-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fira-sans-condensed-v5-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-condensed-600italic - latin */
@font-face {
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 600;
  src: local(""),
    url("../../static/fira-sans-condensed-v5-latin-600italic.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../static/fira-sans-condensed-v5-latin-600italic.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@mixin FiraItalBd {
  font-family: "Fira Sans Condensed";
  font-weight: 600;
}

@mixin FiraHero {
  font-weight: 400;
  color: #fff;
  font-size: 15vw;
  text-transform: uppercase;
}

@mixin FiraLogo {
  font-family: "Fira Sans Condensed";
  font-style: italic;
  color: #464646;
}

$mainfont: "Fira Sans Condensed";

$collightgray: rgb(211, 209, 209);
$coldarkgray: #333;
$col-link: #888;
$col-link-hover: #555;
$col-link-active: #333;
